.milkdown-theme-iojcde blockquote {
  @apply border-l-4 border-border pl-4 font-serif not-italic;
}

.milkdown-theme-iojcde code {
  @apply font-mono font-normal text-gray-12;
}

.milkdown-theme-iojcde pre code {
  @apply text-inherit;
}

.milkdown-theme-iojcde img {
  @apply !my-0 inline-block max-w-full;
}

.milkdown-theme-iojcde.prose
  :where(blockquote):not(:where([class~="not-prose"] *)) {
  @apply font-normal;
}

.milkdown-theme-iojcde.prose
  :where(ol > li):not(:where([class~="not-prose"] *))::marker,
.milkdown-theme-iojcde.prose
  :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  @apply text-gray-12;
}

.milkdown-theme-iojcde.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  )::before,
.milkdown-theme-iojcde.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  )::after {
  content: "";
}

.milkdown-theme-iojcde.prose
  :where(code):not(:where([class~="not-prose"] *))::before,
.milkdown-theme-iojcde.prose
  :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.milkdown-theme-iojcde.prose .tableWrapper {
  @apply relative mb-2 overflow-x-auto;
}

.milkdown-theme-iojcde.prose table {
  @apply !m-4 !overflow-visible text-sm shadow-md sm:rounded-lg;
}

.milkdown-theme-iojcde.prose td,
th {
  @apply !px-6 !py-3;
}

.milkdown-theme-iojcde.prose tr {
  @apply border-b border-border dark:border-gray-10;
}

.milkdown-theme-iojcde.prose :where(td, th) p {
  @apply !m-0;
}

.milkdown-theme-iojcde.prose :where(td, th):nth-child(odd) {
  @apply bg-gray-50 dark:bg-gray-12;
}

.milkdown-theme-iojcde.prose.ProseMirror .selectedCell:after {
  @apply bg-gray-6/30;
}

/* A little workaround to turn the element into a space */
.milkdown-theme-iojcde.prose br[data-is-inline="true"],
.milkdown-theme-iojcde.prose br[data-is-inline="true"]::after {
  content: " ";
}

[data-milkdown-root] {
  @apply h-full;
}

.milkdown {
  @apply h-full;
}

.ProseMirror[data-placeholder]::before {
  color: #a9a9a9;
  position: absolute;
  content: attr(data-placeholder);
  pointer-events: none;
  font-size: 16px;
  /* Using default height value of p element in chrome */
  line-height: 28px;
}

/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror > .ProseMirror-yjs-cursor:first-child {
  margin-top: 16px;
}
.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 16px;
}
/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
  padding-bottom: 1px;
}
/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
  border-radius: 5px 5px 5px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
